body {
    background-color: #2E0101;
}

.setting {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 45px;
    border: 7px solid #8A0303;
}

.place {
    background-image: url("../images/columbus.jpg");
}

.character {
    background-image: url("../images/pllTheNextGeneration/nicole-scherzinger.jpg");
}

.antagonist {
    background-image: url("../images/ezgif-1-801f20b7de.jpg");
}

.threatened-message {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    width: 100%;
}

.a-message {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    height: 200px;
}

.character {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 45px;
    border: 7px solid #FF0000;
}

.cheryl {
    background-image: url("../images/pllTheNextGeneration/cheryl-burke.jpg");
}

.ciara {
    background-image: url("../images/pllTheNextGeneration/ciara.jpg");
}

.nicole {
    background-image: url("../images/pllTheNextGeneration/nicole-scherzinger.jpg");
}

.alan {
    background-image: url("../images/pllTheNextGeneration/alan-ritchison.jpg");
}

.jeff {
    background-image: url("../images/pllTheNextGeneration/jeff-dye.png");
}

.joe {
    background-image: url("../images/pllTheNextGeneration/joe-jonas.jpg");
}

.jamie {
    background-image: url("../images/originalSin/jamie-chung.jpg");
}

.indya {
    background-image: url("../images/originalSin/indya-moore.jpg");
}

.yara {
    background-image: url("../images/originalSin/yara-shahidi.jpg");
}

.william {
    background-image: url("../images/originalSin/william-jackson-harper.jpg");
}

.jack {
    background-image: url("../images/originalSin/jack-reynor.jpg");
}

.omar {
    background-image: url("../images/originalSin/omar-ayuso.jpg");
}

.mysteries {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 45px;
    border: 7px solid #FF0000;
}

.alison-disappearance {
    background-image: url("../images/mysteries/alison-buried.jpg");
}

.a {
    background-image: url("../images/mysteries/a-hoodie.jpg");
}

.maddie {
    background-image: url("../images/mysteries/the-maddie-thing.jpg");
}

.carroll-middle-school {
    background-image: url("../images/mysteries/thornhill-lodge.jpg");
}

.jax-disappearance {
    background-image: url("../images/mysteries/jax-disappearance.jpg");
}

.christopher-death {
    background-image: url("../images/mysteries/christopher-dilaurentis.jpg");
}

.erase-her {
    background-image: url("../images/mysteries/erase-her.jpg");
}

.y2k {
    background-image: url("../images/mysteries/y2k-party.jpg");
}

.shane-graham-death {
    background-image: url("../images/mysteries/shane-graham.jpg");
}

.halloween-week {
    background-image: url("../images/mysteries/halloween-week-rave.jpg");
}

.fransiska-party {
    background-image: url("../images/mysteries/fransiska-party.jpg");
}

.the-trial {
    background-image: url("../images/mysteries/the-trial.jpg");
}

