.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #660000;
    height: 45px;
    font-size: 20px;
    margin-top: 500px;
}

.footer p {
    font-family: PlayBall;
}

.about-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #660000;
    height: 45px;
    font-size: 20px;
    margin-top: 60px;
}

.about-footer p {
    font-family: PlayBall;
}

.liars-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #660000;
    height: 45px;
    font-size: 20px;
    margin-top: 60px;
}

.liars-footer p {
    font-family: PlayBall;
}